body {
    background-color: #222;
    font-family: Arial, sans-serif;
    color: #fff;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
  }
  
  input, button {
    font-size: 1rem;
  }
  
  input {
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  button {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  .button-group {
    display: flex;
    justify-content: center;
  }
  
  
  button:hover {
    background-color: #777;
  }
  
  .hidden {
    display: none;
  }

